---

# =============  MongoDB 3.x =============
  - name: Add MongoDB Repo (mongodb 3.x)
    become: yes
    yum_repository:
      name: mongodb-org-3.x
      description: MongoDB 3.x Repository
      baseurl: "https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/{{ mongodb_major_version }}.{{ mongodb_minor_version }}/x86_64/"
      gpgkey: "https://www.mongodb.org/static/pgp/server-{{ mongodb_major_version }}.{{ mongodb_minor_version }}.asc"
      gpgcheck: yes
      enabled: yes

    when: mongodb_major_version == "3"

    tags:
      - mongodb

# ===========    MongoDB 2.x =============

  - name: Add MongoDB repo (mongodb 2.x)
    become: yes
    yum_repository:
      name: mongodb-org-2.x
      description: MongoDB 2.x Repository
      baseurl: "http://downloads-distro.mongodb.org/repo/redhat/os/x86_64/"
      gpgcheck: no
      enabled: yes

    when: mongodb_major_version == "2"


    tags:
      - mongodb

# =============  Install MongoDB

  - name: "Install MongoDB {{ mongodb_major_version }}.{{ mongodb_minor_version }}.{{ mongodb_patch_version }} via repo"
    become: yes
    yum:
      name: "mongodb-org-{{ mongodb_major_version }}.{{ mongodb_minor_version }}.{{ mongodb_patch_version }}"
      state: present
      update_cache: yes

    tags:
      - mongodb

  - name: "Configure mongo to be accesible over the network"
    become: yes
    lineinfile:
      dest: /etc/mongod.conf
      line: "bind_ip=127.0.0.1"
      state: absent
    tags:
      - mongodb
